body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #fff;
}

.calculator-screen {
    width: 93%;
    height: 60px;
    border: none;
    background-color: #252525;
    color: white;
    font-size: 2rem;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.button, .operator, .equal-sign {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.cero {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    grid-column: span 2;
}

.button:active, .operator:active, .equal-sign:active {
    background-color: #dcdcdc;
}

.operator {
    background-color: #ff9f00;
    color: white;
}

.operator:active {
    background-color: #cc7a00;
}

.equal-sign {
    background-color: #4CAF50;
    color: white;
    grid-column: span 2;
}

.equal-sign:active {
    background-color: #45a049;
}
